nav {
  position: fixed;
  background-color:  #fffffd;
  width: 100%;
  border-bottom: 2px solid #061A75;
  z-index: 100;
  .container {
    display: flex;
    .nav-brand {
      height: 4rem;
      .brand {
        height: 100%;
        img {
          height: 100%;
          padding: 0.5rem;
        }
      }
    }
    .nav-left {
      display: flex;
      align-items: center;
      height: 4rem;
      .nav-link {
        display: flex;
        align-items: center;
        color: $dark-color;
        text-decoration: none;
        height: 100%;
        padding: 0 1.5rem;
        white-space: nowrap;
        &.active {
          color: $blue-color;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .nav-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 4rem;
      .nav-image-link {
        height: 100%;
        img {
          height: 100%;
          padding: 14.0rem 0.5rem;
        }
      }
    }
    .menu, input {
      display: none;
    }
  }
  @media (max-width: 700px) {
    .container {
      display: block;
      .nav-brand {
        display: inline-block;
      }
      .nav-left {
        display: none;
        height: auto;
        margin-top: 1rem;
        .nav-link {
          height: 3rem;
        }
      }
      .nav-right {
        display: none;
      }
      .menu {
        display: block;
        float: right;
        padding: 0.25rem;
        height: 4rem;
        img {
          height: 100%;
        }
      }
      input[type="checkbox"]:checked ~ .collapse {
        display: block;
      }
    }
  }
}