{{ define "main" }}

<section class="blog topmost-section">
  <div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		  <p>
			<i>AudioBlog under construction : Coming Soon</i></br>
			</p>
		</div>
	  </div>

    <div class="row blog-posts">
      {{ range (.Data.Pages).ByParam "rank" }}
        <div class="col-md-4 post">
          <img class="blog-list-image" src="{{ .Params.thumbnail }}" alt="{{ .Params.alt }}">
          <p>{{ .Params.description | safeHTML }}</p>
          <a class="overlay" href="{{ .Permalink }}" aria-label="{{ .Params.title }}">
            <h2>{{ .Params.title | safeHTML }}</h2>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}