{{ define "main" }}

<div class="row">
  <div class="col-md-12">
    <p style="font-family:arial"><b>Artist Statement:</b></br>
    &emsp;I remember the first time I broke my imagination. It grew back with a vengeance.</br>
    &emsp;Revealing hidden perspectives that question our reality.</br>
    &emsp;Projecting virtual visions of augmented tomorrow. Without the need for a device.</br></br>
    &emsp;Welcome to my world of extended reality. Please enjoy your stay.</p>
  </div>
</div>

<section class="blog topmost-section">
  <div class="container">
    <div class="row blog-posts">
      {{ range (.Data.Pages).ByParam "rank" }}
        <div class="col-md-4 post">
          <img class="blog-list-image" src="{{ .Params.thumbnail }}" alt="{{ .Params.alt }}">
          <p>{{ .Params.description | safeHTML }}</p>
          <a class="overlay" href="{{ .Permalink }}" aria-label="{{ .Params.title }}">
            <h2>{{ .Params.title | safeHTML }}</h2>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}