{{ define "main" }}

<section class="blog topmost-section">
  <div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		  <p>
			<i>My art explores the interconnected relationship between social dynamics and perception of technology.<br>
			Creating immersive experiences that invite viewers to engage and interact with accessiblility as a sharable artform.<br>
			From tailor-made to Readymade, I pair found object art with custom-trained machine learning algorithms.</br>
			Unlocking the natural potential of discarded electronics purchased second-hand or found on the side of the road.</br>
			Encoding knowledge and awareness into reflections of hope, belonging, and the desire to be recognized.</i></br>
			</p>
			<p style="text-align: right;">
				<a href="/cv/NicholiNoahCV2023.pdf" style="color: blue;">Click here to view my <strong>Artist CV</strong></a>
			</p>
		</div>
	  </div>

    <div class="row blog-posts">
      {{ range (.Data.Pages).ByParam "rank" }}
        <div class="col-md-4 post">
          <img class="blog-list-image" src="{{ .Params.thumbnail }}" alt="{{ .Params.alt }}">
          <p>{{ .Params.description | safeHTML }}</p>
          <a class="overlay" href="{{ .Permalink }}" aria-label="{{ .Params.title }}">
            <h2>{{ .Params.title | safeHTML }}</h2>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}