{{ define "main" }}

<section class="blog topmost-section">
  <div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		  <p>
			<i>My art explores the interconnected relationship between social dynamics and technology.<br>
			Creating immersive experiences that invite viewers to explore and interact with new ideas.<br>
			From tailor-made to Readymade, I pair found object art with custom-trained machine learning algorithm.</br>
			Unlocking the potential of everyday electronics purchased second-hand or found on the side of the road.</br>
			Encoding knowledge and awareness into reflections of hope, belonging, and the desire to be seen.</i></p>
		</div>
	  </div>

    <div class="row blog-posts">
      {{ range (.Data.Pages).ByParam "rank" }}
        <div class="col-md-4 post">
          <img class="blog-list-image" src="{{ .Params.thumbnail }}" alt="{{ .Params.alt }}">
          <p>{{ .Params.description | safeHTML }}</p>
          <a class="overlay" href="{{ .Permalink }}" aria-label="{{ .Params.title }}">
            <h2>{{ .Params.title | safeHTML }}</h2>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}