{{ define "main" }}

<section class="text-paragraph">
	<div class="container">
	  <p><i>My work is deceptively simple. Each piece is equal parts self-portrait, personal milestone, and science experiment.</br>
		From tailor-made to Readymade, I pair found object art with custom written software.</br>
		Breathing new life into everyday electronics purchased second-hand or found on the side of the road.</br>
		Encoding knowledge and awareness into reflections of hope, belonging, and the desire to be seen.</i></p>
	</div>
  </section>

<section class="blog topmost-section">
  <div class="container">
    <div class="row blog-posts">
      {{ range (.Data.Pages).ByParam "rank" }}
        <div class="col-md-4 post">
          <img class="blog-list-image" src="{{ .Params.thumbnail }}" alt="{{ .Params.alt }}">
          <p>{{ .Params.description | safeHTML }}</p>
          <a class="overlay" href="{{ .Permalink }}" aria-label="{{ .Params.title }}">
            <h2>{{ .Params.title | safeHTML }}</h2>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}