{{ define "main" }}

<section class="blog-post topmost-section">
  <div class="banner-image">
    
  </div>
  <div class="container">
    <h1>{{ .Params.title | safeHTML }}</h1>
    {{ .Content | safeHTML }}
    <div class="arrows">
      {{ with .PrevInSection }}
      <a href="{{ .Permalink }}" class="previous">{{ .Title }} -></a>
      {{ end }}
      {{ with .NextInSection }}
      <a href="{{ .Permalink }}" class="next"><- {{ .Title }}</a>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}